/*
@
@		>>>> AQUAY <<<<
@
@	Timonix Aquay Edytor
@	Edytor Tekstowy
@	Versja: beta 1.0
@   Cobright: Wszelkie prawa zasczeżone 
@
@		>>>> AQUAY <<<<
@
*/

	/* tworzenie klass odpowiedzialnych za wygląd aquay */
	
	#aquay {
		width: 100%;
		height: auto;
		margin: 20px 0px;
		padding: 0px;
		border: 0px;
		float: left;
	}
	
	.aquay {
		width: 100%;
		height: auto;
		margin: 20px 0px;
		padding: 0px;
		border: 0px;
		float: left;
		font-size: 14px;
		border: 1px solid #d1d1d1;
	}
	
	.aquay ~ a, .aquay a {
		color: #068181;
	}

	.aquay .aquay-input, .aquay .aquay-select {
		color: black;
		display: block;
		width: 150px;
		height: 25px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: transparent;
		border-radius: 0px 0px 0px 0px;
		box-shadow: 0px 0px 20px -5px rgba(74,74,74,1);
		border-width: 1px 1px 2.5px 2px;
		border-style: solid solid solid solid;
		border-color: #c5c5c5 #bfbfbf #8c8c8c #777777;
		outline: none;
		float: inherit;
	}
	.aquay .aquay-input-color {
		color: black;
		display: block;
		min-width: 25px;
		width: 25px;
		height: 25px;
		padding-left: 2px;
		padding-right: 2px;
		background-color: transparent;
		border-radius: 0px 0px 0px 0px;
		box-shadow: 0px 0px 20px -5px rgba(74,74,74,1);
		border-width: 1px 1px 2.5px 2px;
		border-style: solid solid solid solid;
		border-color: #c5c5c5 #bfbfbf #8c8c8c #777777;
		outline: none;
		float: inherit;
	}

	.aquay select[type="number"] {
		width: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.aquay input, .aquay select, .aquay textarea, .aquay button {
		text-transform: capitalize;
	}

	.aquay .aquay-link {
		width: 100%;
	}
	
	.aquay .aquay-input-margin {
		margin-right: 4px;
	}
	
	.aquay .aquay-nawigacja {
		width: 100%;
		height: auto;
		background-color: #ececec;
		padding: 10px;
		border: 1px solid #d1d1d1;
		float: left;
	}
	
	.aquay .aquay-sekcjia {
		width: 100%;
		float: left;
		margin-top: 10px;
	}

	.aquay .aquay-sekcjia:nth-child(1) {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
	
	.aquay .aquay-text, .aquay .aquay-block-editor {
		width: 100%;
		height: auto;
		min-height: 555px;
		background-color: transparent;
		padding: 5px;
		border: 1px solid #d1d1d1;
		float: left;
	}
	.aquay .aquay-bloki-powiel {
		width: 100%;
		height: auto;
		min-height: 4px;
		background-color: transparent;
		padding: 5px;
		border: 1px solid #d1d1d1;
		float: left;
		display: none;
		visibility: hidden;
	}
	
	.aquay .aquay-text > html, .aquay .aquay-text > body {
		margin: 0px;
		border: 0px;
		padding: 0px;
	}
	
	.aquay .aquay-ikona {
		width: 25px;
		height: 25px;
		padding: 0px;
		margin: 0px 5px;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		float: left;
	}
	
	.aquay .aquay-color {
		width: 55px;
		height: 25px;
		padding: 0px;
		margin: 0px 5px;
		border-bottom: 1px solid black;
		box-shadow: 0px 1.5px 0px 0px black;
		float: left;
	}

	.aquay .aquay-color input {
		margin: 0px 2.5px;
		padding: 0px;
		border: 0px;
		outline: none;
	}
	
	.aquay .aquay-logo {
		max-width: 100px;
		max-height: 30px;
		min-width: 60px;
		min-height: 20px;
		font-size: 16px;
		padding: 3.5px 10px;
		-webkit-font-kerning: revert;
		        font-kerning: revert;
		font-variant-caps: inherit;
		font-variant-east-asian: ruby;
		font-variant-ligatures: historical-ligatures;
		font-variant-numeric: slashed-zero;
		font-variation-settings: inherit;
		font-optical-sizing: inherit;
		font-feature-settings: revert;		
		background-color: #e4e4e4;
	}
	
	.aquay .aquay-bar {
		content: "";
		position: relative;
		height: 21px;
		width: 0;
		border-right: 1px solid #888888;
		margin: 2px 2.5px;
		top: 0;
	}
	
	.aquay .aquay-container {
		width: 100%;
		height: auto;
		margin: auto;
		border: none;
		float: left;
	}
	
	.aquay .aquay-edytuj-container {
		width: -webkit-fill-available;
		height: auto;
		padding: 11px;
		margin: 10px;
		border: none;
		float: left;
	}
	
	.aquay .aquay-edytuj-container:not([aquay-obiect="get_obiect"])  * {
		word-wrap: break-word;
    	white-space: pre-wrap;
	}
	
	.aquay .aquay-edytuj-container:hover, .aquay-edytuj-container:focus {
		height: auto;
		padding: 10px;
		border: 1px solid #888888;
	}

	.aquay .aquay-obiect-container {
		width: -webkit-fill-available;
		height: auto;
		padding: 11px;
		margin: 10px;
		border: none;
		float: left;
		background-color: #cccccc;
	}
	
	.aquay .aquay-get-obiect {
		width: 100%;
		min-height: 100px;		
		padding: 11px;
	}
	
	.aquay .aquay-get-obiect:hover, .aquay-get-obiect:focus {
		height: auto;
		padding: 10px;
		border: 1px solid #888888;
	}
	
	.aquay .aquay-type-title {
		position: relative;
		top: -25px;
		background-color: white;
		background: white;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 5px;
		display: block;
		height: auto;
		margin: 0px;
		color: black;
		text-decoration: none;
		border: 0px solid transparent;
		border-radius: 0px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: move;
	}

	.aquay .tsr-sort-handle:hover {
		color: black;
	}

	.aquay .aquay-input-title {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 5px;
	}
	
	.aquay .aquay-edytuj-text {
		padding: 10px;
		word-break: break-word;
		word-spacing: inherit;
	}
	
	.aquay .aquay-edytor-element-menu {
		position: relative;
		left: -150px;
		width: 300px;
		height: auto;
		max-height: 500px;
		text-align: center;
		vertical-align: middle;
		padding: 15px;
		border: 1px solid #888888;
		background-color: #e4e4e4;
		display: none;
	}
	
	.aquay .aquay-edytor-menu-icons {
		height: 75px;
		padding: 5px;
		border: 1px solid #888888;
		background-color: white;
	}
	
	.aquay .add .aquay-edytor-menu-visable {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	
	.aquay .aquay-edytuj-blok-kopiuj {
		display: hiddenn;
		visibility: hiddenn;
	}
	
	.aquay .aquay-edytor-separator {
		width: -webkit-fill-available;
		height: auto;
		padding: 0px;
		margin: 10px;
		float: left;
		border: 1px solid transparent;
	}
	
	.aquay .aquay-edytor-separator:hover {
		border: 1px solid #888888;
	}
	
	.aquay .aquay-edytor-separator:hover > .aquay-edytor-separator-tytul {
		color: black;
	}
	
	.aquay .aquay-edytor-separator-tytul {
		width: 100%;
		height: auto;
		color: transparent;
		padding: 10px;
		margin: auto;
		text-align: center;
		border-bottom: 1px solid #888888;
		cursor: pointer;
	}
	
	.aquay .aquay-edytor-naglowek {
		font-size: 24px;
	}
	
	.aquay .aquay-edytor-obrazek {
		width: 100%;
		min-height: 150px;
		padding: 15px;
		background-color: #cccccc;
	}

	.aquay .aquay-edytor-galeria {
		width: 100%;
		min-height: 150px;
		padding: 15px;
		float: left;
		background-color: #e8e8e8;
	}
	
	.aquay .aquay-add-media{
		color: black;
		display: block;
		width: 100%;
		height: auto;
		padding: 10px 20px;
		text-align: center;
		background-color: transparent;
		border-radius: 0px 0px 0px 0px;
		box-shadow: 0px 0px 20px -5px rgba(74,74,74,1);
		border-width: 1px 1px 2.5px 2px;
		border-style: solid solid solid solid;
		border-color: #c5c5c5 #bfbfbf #8c8c8c #777777;
		outline: none;
	}
	
	.aquay .aquay-top-separator {
		margin-top: 10px;
	}

	.aquay .aquay-visable {
		display: block;
	}
	
	.aquay .aquay-hidden {
		display: none;
	}
	
	.aquay .aquay-modal-html {
		overflow: hidden;
	}

	.aquay .aquay-modals {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		padding: 5%;
		overflow: auto;
		overflow-x: hidden;
		z-index: 999999999;
		background-color: #000000e6;
	}

	.aquay .aquay-modal-container {
		position: relative;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		display: inline-table;
		padding: 20px;
		background-color: #a0a0a0;
		overflow: auto;
		z-index: 1;
	}

	.aquay .aquay-modal-load {
		position: relative;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		font-size: 22px;
		float: left;
		text-align: left;
		z-index: 1;
	}

	.aquay .aquay-modal-closed {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
		background-image: url("../../../pliki/ikony/zamknij.png");
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 1;
	}
	
	.aquay .aquay-edytor-kod {
		display: block;
	}
	
	.aquay .aquay-edytor-cytat {
		border-left-style: solid;
		border-width: 2px;
		padding-left: 15px;
	}
	
	.aquay .aquay-obrazek {
		max-width: 100%;
		max-height: 100%;
	}
	
	.aquay .aquay-galeria  {
		width: 25%;
		max-height: 250px;
		float: left;
		padding: 5px;
		margin-top: 10px;
	}

	@media (max-width: 1600px) {
		.aquay .aquay-galeria  {
			width: 25%;
			height: 175px;
			float: left;
			padding: 5px;
			margin-top: 10px;
		}		
	}

	@media (max-width: 1200px) {
		
	}

	@media (max-width: 992px) {
		.aquay .aquay-galeria  {
			width: 33.333333%;
			height: 195px;
			float: left;
			padding: 5px;
			margin-top: 10px;
		}		
	}

	@media (max-width: 768px) {
		.aquay .aquay-galeria  {
			width: 50%;
			height: 150px;
			float: left;
			padding: 5px;
			margin-top: 10px;
		}
	}

	@media (max-width: 576px) {
		.aquay .aquay-galeria  {
			width: 100%;
			height: -webkit-fill-available;
			float: left;
			padding: 5px;
			margin-top: 10px;
		}		
	} 	

	.aquay .aquay-button-pobierz {
		color: black;
		display: block;
		width: 100%;
		height: 45px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: transparent;
		border-radius: 0px 0px 0px 0px;
		box-shadow: 0px 0px 20px -5px rgba(74,74,74,1);
		border-width: 1px 1px 2.5px 2px;
		border-style: solid solid solid solid;
		border-color: #c5c5c5 #bfbfbf #8c8c8c #777777;
		outline: none;
		float: inherit;
	}
	
	.aquay .aquay-edytor-plik {
		width: 100%;
		min-height: 150px;
		padding: 15px;
		background-color: #dedede;
	}
	
	.aquay .aquay-clear {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
	
	.aquay .aquay-compiler {
		width: 0px;
		height: 0px;
		display: none;
		visibility: hidden;
		background-color: #ffffff00;
		color: transparent;
	}
	
	/* Aquay Modal colision */
	.aquay-modal-container-colision, .aquay-modal-container-colision * {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
				touch-action: none;
	}

	/* dragable przesuwanie kontenerów */
	.aquay .aquay-toggle {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -8px;
	}
	.aquay-placeholder.tsr-sortiner-active {
		border: 1px dotted black!important;
		cursor: n-resize!important;
	}

	.aquay-placeholder.tsr-sortiner-active .aquay-type-title {
		position: relative;
		top: -16px;
		font-size: 14px;
		background-color: white;
		background: white;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 5px;
		height: auto;
		margin: 0px;
		margin-left: 11px;
		color: black;
		border: 0px solid transparent;
		border-radius: 0px;
	}
	
	.aquay-placeholder {
		border: 1px dotted black;
		cursor: n-resize;
		margin: 0 1em 1em 0;
		height: 50px;
		float: left;
		width: 100%;
	}